@import 'src/styles/core/variables';

.mat-card-image:last-child {
  margin: 0;
  width: 10vw;
}

.reserve-space {
  width: 23%;
}

.total-display {
  position: absolute;
  right: 5px;
}

.remove-element {
  color: $sc-dark-element;
  font: 20px/100% arial, sans-serif;
  font-size: larger;
  font-weight: 900;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  top: 5px;
}

.remove-element:after {
  content: 'x';
}
