// ===============================
// Variables
// ===============================
// Tips:
// * In case you don't have names defined for your variables for your color, this tool can help you http://chir.ag/projects/name-that-color/
// * Define a prefix for your variables
// * HEX values should be lowercase
// * Set fallbacks to your font variables
// References:
// * http://thesassway.com/beginner/variable-naming
// * http://chir.ag/projects/name-that-color/

$prefix: 'sc';

// ===============================
// Ng Material Theme Colors
// ===============================
$sc-light-theme-background: #FFFFFF;
$sc-dark-theme-background: #000000;

// ===============================
// Ng Material Text Colors
// ===============================
$sc-light-high-emphasis: #282828;
$sc-light-medium-emphasis: #666666;
$sc-light-low-emphasis: #9D9D9D;

// ===============================
// Ng Material Components Colors
// ===============================
$sc-light-icon-color: #11619B;
$sc-light-container: #FFFFFF;
$sc-light-container-before: #ffffff99;
$sc-light-button-stroke: #FFF7FA;
$sc-light-table: #eeeeee;
$sc-light-table-border: #dddddd;
$sc-light-element-background: #0275d8;

$sc-dark-container: #282b34;
$sc-dark-shadow: #282b34;
$sc-dark-color: #282b34;
$sc-dark-element: #777777;

$sc-percentage-70: #979797;
$sc-percentage-80: #c9383c;
$sc-percentage-90: #e8ba38;


// ===============================
// Font Variables
// ===============================
$font-url: 'assets/fonts/';
$font-regular: Open Sans Regular,
sans-serif;
