.custom-background-card {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
  margin: 3vh auto 5vh auto;
  text-align: center;
  width: 250px;

  & .percentage-70 {
    background-color: #979797;
  }

  & .percentage-80 {
    background-color: #C9383C;
  }

  & .percentage-90 {
    background-color: #E8BA38;
  }
}

.mat-card-image:last-child {
  margin: 0;
  width: auto;
}
