.background-card {
  text-align: center;
}

.background-card .percentage-70 {
  background-color: #979797;
}

.background-card .percentage-80 {
  background-color: #c9383c;
}

.background-card .percentage-90 {
  background-color: #e8ba38;
}

.mat-card-image:last-child {
  margin: 0;
  width: auto;
}
