<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh" *ngIf="products$ | async; else showSpinner">
  <!-- Carousel at the top -->
  <div fxLayout="row wrap">
    <sc-carousel [slides]="slides | async" [animationType]="animationType"></sc-carousel>
  </div>
  <!-- End Carousel -->

  <!-- Product list body -->
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div *ngFor="let product of products$ | async; let i = index" fxFlex="33" fxFlex.md="33" fxFlex.sm="50"
      fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
      <mat-card class="custom-background-card" (click)="redirectToDetails(product.id)" [attr.data-cy]="'element-'+i">
        <mat-card-content [ngClass]="'percentage-' + product.percentage">
          <img mat-card-image [src]="product.imgUrl" alt="Photo of a Product">
        </mat-card-content>
        <mat-card-header>
          <mat-card-title>{{product.title}}</mat-card-title>
          <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <!-- End Product list-->
</div>

<ng-template #showSpinner>
  <div class="loading-indicator">
    <mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'" [value]="50"> </mat-progress-spinner>
  </div>
</ng-template>
