<mat-card *ngIf="stepName === 'shipping'" class="mat-card">
  <mat-card-title>
    Shipping Summary <span (click)="moveBackToStep()" style="color: #0275D8">Edit</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <br />
  <mat-card-title> {{ shippingSummary.firstName }} {{ shippingSummary.lastName }} </mat-card-title>
  <mat-card-title>
    {{ shippingSummary.addressLine1 }}
  </mat-card-title>
  <mat-card-title>
    {{ shippingSummary.city }}, {{ shippingSummary.region }}, {{ shippingSummary.zipCode }}
  </mat-card-title>
  <mat-card-title>
    {{ shippingSummary.country }}
  </mat-card-title>
  <mat-card-title>
    {{ shippingSummary.phone }}
  </mat-card-title>
  <br />
  <mat-card-title> {{ setShippingLabel() }} Shipping </mat-card-title>
</mat-card>
<mat-card *ngIf="stepName === 'billing'" class="mat-card">
  <mat-card-title>
    Billing Summary <span (click)="moveBackToStep()" style="color: #0275D8">Edit</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <br />
  <mat-card-title> {{ billingSummary.firstName }} {{ billingSummary.lastName }} </mat-card-title>
  <mat-card-title>
    {{ billingSummary.addressLine1 }}
  </mat-card-title>
  <mat-card-title>
    {{ billingSummary.city }}, {{ billingSummary.region }}, {{ billingSummary.zipCode }}
  </mat-card-title>
  <mat-card-title>
    {{ billingSummary.country }}
  </mat-card-title>
  <mat-card-title>
    {{ billingSummary.phone }}
  </mat-card-title>
  <br />
</mat-card>
<mat-card *ngIf="stepName === 'payment'" class="mat-card">
  <mat-card-title>
    Payment Method <span (click)="moveBackToStep()" style="color: #0275D8">Edit</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <br />
  <mat-card-title>
    {{ paymentSummary.cardName }}
  </mat-card-title>
  <mat-card-title>
    {{ paymentSummary.cardNumber }}
  </mat-card-title>
  <mat-card-title>
    {{ paymentSummary.cardType }}
  </mat-card-title>
  <br />
</mat-card>
