<form [formGroup]="paymentFormParent">
  <mat-divider></mat-divider>
  <h6>Select Payment Method</h6>
  <p>
    Select money transfer using your bank account. Visa, Mastercard, American Express
    <span><img src="assets/credit-cards.png" /></span>
  </p>
  <mat-form-field class="mat-form-field" [hideRequiredMarker]="false" [floatLabel]="true">
    <input matInput placeholder="Name on Card" [formControl]="nameOnCardControl" data-cy="card-name" type="text"
      required />
    <mat-error *ngIf="nameOnCardControl.hasError('required')">
      Name on Card is required
    </mat-error>
    <mat-error *ngIf="nameOnCardControl.errors?.minlength">
      Name on Card must be at least {{ nameOnCardMinLength }} characters long
    </mat-error>
  </mat-form-field>
  <br />
  <br />
  <mat-form-field class="mat-form-field" [hideRequiredMarker]="false" [floatLabel]="true">
    <input matInput placeholder="Credit Card Number" [formControl]="creditCardNumberControl" data-cy="card-number"
      type="text" maxlength="16" required />
    <mat-error *ngIf="creditCardNumberControl.hasError('required')">
      Credit Card Number is required
    </mat-error>
    <mat-error *ngIf="creditCardNumberControl.errors?.minlength">
      Credit Card Number must be {{ creditCardNumberLength }} characters long
    </mat-error>
  </mat-form-field>
  <br />
  <br />
  <mat-form-field class="mat-form-field-md" [hideRequiredMarker]="false" [floatLabel]="true">
    <input matInput placeholder="CVC Number" [formControl]="cvcNumberControl" data-cy="card-cvc" type="text" required />
    <mat-error *ngIf="cvcNumberControl.hasError('required')">
      CVC Number is required
    </mat-error>
    <mat-error *ngIf="cvcNumberControl.errors?.minlength">
      CVC Number must be at least {{ cvcNumberMinLength }} characters long
    </mat-error>
  </mat-form-field>
  <br />
  <br />
  <mat-form-field class="mat-form-field-md">
    <mat-label>Card Type</mat-label>
    <mat-select [formControl]="cardTypeControl" data-cy="card-type" required>
      <mat-option value="Visa" data-cy="card-type-visa">Visa</mat-option>
      <mat-option value="MasterCard" data-cy="card-type-mastercard">MasterCard</mat-option>
      <mat-option value="AmericanExpress" data-cy="card-type-amex">American Express</mat-option>
    </mat-select>
    <mat-error *ngIf="cardTypeControl.hasError('required')">Please choose a card</mat-error>
  </mat-form-field>
  <br />
  <br />
  <div fxLayout="row">
    <mat-form-field class="mat-form-field-sm mat-form-field-mr">
      <mat-label>Expiration Month</mat-label>
      <mat-select [formControl]="expirationMonthControl" data-cy="card-month" required>
        <mat-option *ngFor="let month of months" [value]="month">
          <div [attr.data-cy]="'card-month-' + month">
            {{ month }}
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="expirationMonthControl.hasError('required')">Please choose a month</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="mat-form-field-sm">
      <mat-label>Expiration Year</mat-label>
      <mat-select [formControl]="expirationYearControl" data-cy="card-year" required>
        <mat-option *ngFor="let year of years" [value]="year">
          <div [attr.data-cy]="'card-year-' + year">
            {{ year }}
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="expirationYearControl.hasError('required')">Please choose a year</mat-error>
    </mat-form-field>
  </div>
  <br />
  <br />
</form>
