.mat-card {
  border-radius: 4px 4px 0 0;
}

mat-card-title {
  place-content: center space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.order-total {
  background-color: #0275d8;
  color: white;
  border-radius: 0 0 4px 4px;
  margin-bottom: unset;
  margin-top: -2vh;
}

.mat-card-image {
  margin: 0;
  width: 25%;
}
