<div fxLayout="column wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card class=" display-style">
    <img mat-card-image [src]="selectedProduct.imgUrl" alt="Chocolate image">
    <div class="displayed-item">
      <mat-card-header>
        <mat-card-title>{{selectedProduct.title}}</mat-card-title>
        <mat-card-subtitle>
          {{selectedProduct.price | currency}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="content">
          <div>
            <span class="stars-container stars-{{selectedProduct.percentage}}">★★★★★</span>
          </div>
          <div>
            <p>{{selectedProduct.description}}</p>
          </div>
          <div>
            <mat-label><strong>Quantity</strong></mat-label>
          </div>
          <div>
            <input type="text" class="text-area" [(ngModel)]="itemQuantity" maxlength="3" sc-number-only />
          </div>
          <div class="content-actions" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary"
              [ngStyle]="{'background-color':productAdded === true ? '#373A3C' : '#0275D8' }"
              (click)="toggleAddToCart()">{{productAdded ? 'Added!' : 'Add to Cart'}}</button>
            <button mat-raised-button color="accent" (click)="redirectToList('back')">Back</button>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
