@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import 'reset';
@import 'styles/theme';
@import 'styles/common/star-rating';
@import 'styles/common/loading-indicator';

html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
}

body {
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

@font-face {
  font-family: "percolate";
  src: url("/assets/icon/percolate.eot?-5w3um4");
  src: url("/assets/icon/percolate.eot?#iefix5w3um4") format("embedded-opentype"),
    url("/assets/icon/percolate.woff?5w3um4") format("woff"),
    url("/assets/icon/percolate.ttf?5w3um4") format("truetype"),
    url("/assets/icon/percolate.svg?5w3um4") format("svg");
  font-weight: normal;
  font-style: normal;
}
