@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import 'reset';
@import 'styles/theme';

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background-color: rgb(226, 217, 217);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
